 /*
  ========================================
	Reportes Review
  ========================================
*/


.reportes-review{
	border-width: 2px;
	border-style: solid;
	margin-top: 2em;
	text-align: center;
}

.glyphicon-stats-reportes{
	margin-top: 1em;
	color: gray;
}
.reportes-titulo-stats{
	margin: 0;
	color: gray;
}
.numero-de-reportes{
	margin: 0;
}

.reportes-stats{
	margin-top: 1em;
	margin-left: 0.5em;
	text-align: left;
}

.tipo-stat{
	color: gray;
}

td {
  padding: 7px 15px;
}

.numero-de-r{
	font-weight: 500;
}

.time-frames{
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2em;
}

.nav-justified>li>a{
	background-color: #DeDeDe;
	margin: 0.5em;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus{
	background-color: rgb(48, 159, 203)
}

.nav-pills>li.active>a:hover{
	background-color: #2B8FB7
}

 /*
  ========================================
	Filtro de stats
  ========================================
*/

.filtros-de-stats{
	border-width: 2px;
	border-style: solid;
	border-color: black;
	margin-top: 2em;
}

.actualizar-stats{
	display: inline-block;
	font-weight: 400;
	font-size: 16px;
	margin: 1em;
	padding: 0.7em 1.5em;
}

.actualizar-stats:hover{
	background-color: #2B8FB7;
	border-color:#2B8FB7;
}
 /*
  ========================================
	Stats de region
  ========================================
*/


.stats-de-region{
	border-width: 2px;
	border-style: solid;
	margin-top: 2em;
}

 /*
  ========================================
	Stats de tiempo
  ========================================
*/

.stats-de-tiempo{
	border-width: 2px;
	border-style: solid;
	margin-top: 2em;
}

 /*
  ========================================
	Stats de daño
  ========================================
*/
.stats-de-dano{
	border-width: 2px;
	border-style: solid;
	margin-top: 2em;
}