
.nav-subhead {
    z-index:9010;
    width: 100%;
}
#nav_secondary.sticky {
    top:47px;
    left:0;
    background-color:#E9E9E9;
    /*background-color:#3F96B0;*/
}
nav.content span,nav.content ul,nav.content li{
    display:inline-block;
}

.nav-subhead a {
    color:#fff;
    font-size:13px;
    font-size:1.3rem;
    line-height:24px;
    line-height:2.4rem;
    padding:0 8px;
    padding:0 0.8rem;
    text-transform:uppercase;
}
.nav-subhead a:hover {
    color:black;
}

.fix {
    position:fixed;
}

.navbar {
  background-color:#FFD700;
  border-color:transparent;
}

.container a{
  color:black;
}

.navbar-default .navbar-brand {
  color:black;
}

.navbar-nav>.active>a{
  background-color:#FCCC20;
  font-weight:bold;
  font-size:17px;
  color:black;
}

#tipomedios>li>a{
  color:black;
}

#tipomedios>.active>a{
  background-color:#DFDFDF;
  font-weight:bold;
  font-size:13px;
  color:black;
}

.navbar-nav>li>a:hover{
    background-color:#EDBD11;
    color:black;
    font-weight:bold;
}

#tipomedios>li>a:hover{
    background-color:#D0D0D0;
    color:black;
}

/*.container-fluid{
    margin-left: 3em;
}*/