body{
	font: 300 16px/22px "Lucida Sans Unicode", "Lucida Grande", "sans-serif";
}

.leyenda {
    font-weight: 300px;
    margin-right: 12px;
}

.positiva{
	color: #04B431;
}
.neutral{
	color: #FCCC20;
}
.negativa{
	color: red;
}

.tab-content{
	text-align: left;
}

.noticia{
	font: 300 20px/26px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.noticia_fecha {
	margin-left: 1em;
	font-size: 1.5em;
	padding-top: 1em;
	border-top-color: gray;
	border-top-style: solid;
	border-top-width: 1px;
	border-color: gray;
}

.noticia_text {
	font: 300 16px/22px "Trebuchet MS", "Helvetica", "sans-serif";
	margin-left: 2.5em;
	margin-bottom: 2em;
}

.noticia_fecha:first-child{
	border-width: 0;
	padding: 0;
}

.noticia_nohay{
	font-size: 1.3em;
}

#news_container{
	width:80%;
}