body{
	/*font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-family:Lucida Sans Unicode;
}
.navbar-inner{
/*	background-color: #F4D404;*/
	background-color: #FCCC20
}

.nav-pills a{
	color:black;
	font-size: 20px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background-color: transparent;
	font-weight: bold;
	color: black;
}
.nav-pills>li>a:hover{
	background-color: transparent;
	color:black;
}

.pull-right {
    font-weight: 300px;
}

.positiva{
	color: #04B431;
}

.neutral{
	color: #FCCC20;
}

.negativa{
	color: red;
}

.tab-content{
	text-align: left;
}