/*affects all*/
body{
	font: 300 16px/22px "Lucida Sans Unicode", "Lucida Grande", "sans-serif";
}
/**{
	border: 1px solid red !important;
}*/

.btn-info,.btn-info:hover,.btn-info:focus {
	font-size: 14px;
	font-weight: 600;
	color: white;
	background-color: #3F96B0;
	border-color: #3F96B0;
	border-width: 2px;
	text-align: center;
	margin: 0 auto;
	padding: 10px;
}

.modal-content{
	border-color: rgba(248, 210, 96, 1);
	border-width: 4px;
	background-color: rgba(251, 227, 148, 1);
}

.modal-header{
	border-width: 4px;
	border-color: rgba(248, 210, 96, 1);
}

.modal-title{
	text-align: left;
}

.filtros{
	margin-left: 3em;
	text-align: left;
	font-size: 11px;
}

.filtro-ind{
	font-size: 12px;
	margin: 1px;
	font-weight: 500;
}

.checkbox{
	margin: 0;
	padding: 0;

}

.agregar-reporte{
	width: 12%;
}

.left-part{	
	/*border: 1px solid red !important;*/
	padding-top: 10px;	
}


#nuevoreporte{
	border-color:#3F96B0;
	background-color:#3F96B0;
	color:white;
}

.reporte{
	border-right: 1px;
	border-left: 1px;
	border-top: 1px;
	border-bottom: 1px;
	border-color: #e5e5e5 #e5e5e5 white #e5e5e5;
	border-style: solid;
	padding: 2px;
}

.reporte:hover{
	border-style: solid;
	padding: 2px;
	border-width: 1px;
	border-color: #9E9E9E;
}

.entries{
	margin-top: 2em;
}
