/*
  ========================================
 Afecta todo
  ========================================
*/
body{
	font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/*
  ========================================
 toda la columna izquierda
  ========================================
*/

.left-part{	
	/*border: 1px solid red !important;*/
	padding-top: 10px;	
	width: 180px;
}

/*
  ========================================
 Botones
  ========================================
*/

.btn-info,.btn-info:focus{
	margin: 0 auto;
	font-size: 14px;
	font-weight: 600;
	color: white;
	background-color: #289ECD;
	border-color: #289ECD;
	border-width: 0;
	text-align: center;
	margin-right: 2em;
	margin-top: 9px;
	padding: 6px;
}

.btn-info:hover,.btn-info:focus{
	/*background-color: #2E6C7E;*/
	background-color: rgb(47,105,200);
	color:white;
}

/*
  ========================================
 Pop-up form
  ========================================
*/

.modal-content{
	border-color: rgba(248, 210, 96, 1);
	border-width: 4px;
	background-color: rgba(251, 227, 148, 1);
}

.modal-header{
	border-width: 4px;
	border-color: rgba(248, 210, 96, 1);
}

.modal-title{
	text-align: left;
}

#nuevoreporte{
	border-color:#3F96B0;
	background-color:#3F96B0;
	color:white;
}

.agregar-reporte{
	width: 150px;
}

/*
  ========================================
 Filtros
  ========================================
*/

.filtros{
	margin-left: 3em;
	text-align: left;
	font-size: 11px;
	padding-top: 0;
}

.filtro-ind{
	font-size: 12px;
	margin: 1px;
	font-weight: 500;
	padding-top: 1em;
	border-top-color: #e5e5e5 ;
	border-top-style: solid;
	border-top-width: 1px;
}

.checkbox{
	margin: 0;
	padding: 0;
}

#filtro{
	margin-left: 5em;
	width: 50%;
	margin-bottom: 1em;
	margin-top: 0;
	padding: 2px;
}

/*
  ========================================
 Todo el centro
  ========================================
*/


.entries{
	margin-top: 2em;
	margin-bottom: 3em;
	width: 55em;
	display: block!important;
}

.reporte{
	border-right: 1px;
	border-left: 1px;
	border-top: 1px;
	border-bottom: 1px;
	border-color: #e5e5e5 #e5e5e5 white #e5e5e5;
	border-style: solid;
	padding: 2px;
}

.reporte:last-child{
	border-bottom: 1px;
	border-color: #e5e5e5;
	border-style: solid;
}

.reporte:hover{
	border-style: solid;
	padding: 2px;
	border-width: 1px;
	border-color: #9E9E9E;
}

.reporte-peque{
	margin: 1em;
    font-weight: 200;
}

.detalles{
	margin: 1em;
}

.like,.like:focus{
	font-size: 12px;
	font-weight: 300;
	color: white;
	background-color: #289ECD;
	border-color: #289ECD;
	border-width: 0;
	border-radius: 2px;
	text-align: center;
	margin: 0 auto;
	width: 5em;
}

.like:hover{
	/*background-color: #2E6C7E;*/
	background-color: rgb(47,105,200);
}


