{% extends "layout.html" %}
{% block content %}

		<form class="form" method="POST">
			<div class = "parte-arriba">
				<section class="fecha-completa">
					<h4 class="description">Hora:</h4>
					<input step="3600" type="time" name="time" required>
							
				</section>
					<section class="tipo-de-noticia">
					<h4 class="description">Escoja el tipo de noticia:</h4>
					<input type="radio" name="type" value="Medios"> Medios
					<br>
					<input type="radio" name="type" value="Twitter"> Twitter
					<br>
					<input type="radio" name="type" value="Radio" required> Radio
				</section>
			</div>

			<div class = "area-de-texto">
				<textarea rows ="20" cols="150" name="text" placeholder="Escriba aquí sus noticias"></textarea>
			</div>

			<input class="btn agregar" type="submit" value="Agregar">
		</form>	

	</div>

</body>
</html>
{% endblock %}