{% extends "layout.html" %}

{% block head %}
      <link rel="stylesheet" href="static/estadisticas.css">
      <script src="static/charts/Chart.min.js"></script>
{% endblock %}



{% block content %}

<div class="container">
	
	<div class="col-md-4">
		<div class="reportes-review">
			<div class="glyphicon glyphicon-file glyphicon-stats-reportes"></div>
			<h4 class="reportes-titulo-stats">Reportes</h4>
			<h1 class="numero-de-reportes">{{reportes.count()}}</h1>

			<table class="reportes-stats" style="width:100%">
			  <tr>
			    <td class="tipo-stat">Reportes completados</td>
			    <td class="numero-de-r">{{reportes| reportes_filter("Completo")}}</td>
			  </tr>
			  <tr>
			    <td class="tipo-stat">Reportes en proceso</td>		
			    <td class="numero-de-r">{{reportes| reportes_filter("En proceso")}}</td>
			  </tr>
			  <tr>
			    <td class="tipo-stat">Reportes en inspección</td>		
			    <td class="numero-de-r">{{reportes| reportes_filter("En inspección")}}</td>
			  </tr>
			  <tr>
			    <td class="tipo-stat">Reportes iniciados</td>		
			    <td class="numero-de-r">{{reportes| reportes_filter("Iniciado")}}</td>
			  </tr>
			  <tr>
			    <td class="tipo-stat">Reportes vencidos</td>		
			    <td class="numero-de-r">{{reportes| reportes_filter("Vencido")}}</td>
			  </tr>
			</table>

			<ul class="nav nav-pills nav-justified time-frames">
			  <li role="time-frame"><a href="#">Semana</a></li>
			  <li role="time-frame"  class="active"><a href="#">Mes</a></li>
			  <li role="time-frame"><a href="#">Año</a></li>
			</ul>
		</div>

		<div class="filtros-de-stats">
			<h5>Ver estadisticas solo de:</h5>
			<div align="center" class="filtros-stats">
				<select name="area">
					{% for region in regiones %}
					<option {% if reporte.area==region %} selected {% endif %}>{{region}}</option>
					{% endfor %}
			 	</select>
		        <select name="problema">
		      	  	{% for problema in problemas %}
		      	  	<option {% if reporte.problema==problema %} selected {% endif %}>{{problema}}</option>
		      	  	{% endfor %}
	     		</select>
     		</div>
     		<p align="center">
			  <button class="btn btn-primary ver-todo-stats" type="button">Ver todo</button>
			</p>

		</div>
	</div>

	<div class="col-md-8">
		<div class="row stats-de-region">
		<!-- 	<h5>Reportes por region</h4> -->
			<div style="width: 100%">
				<canvas id="canvas" height="250" width="600"></canvas>
			</div>
			<script>

				var barChartData = {
					labels : ['Areas Canaleras', 'San Miguelito', 'Pnma. Centro', 'Pnma. Oeste','Pnma. Norte', 'Pnma.Este', 'Bocas del Toro','Chiriqui', 'Veraguas',  'Colon', 'Cocle', 'Herrera', 'Los Santos', 'Darien', 'Comarca Ngobe'],
					datasets : [
						{
							fillColor : "rgba(220,220,220,0.5)",
							strokeColor : "rgba(220,220,220,0.8)",
							highlightFill: "rgba(220,220,220,0.75)",
							highlightStroke: "rgba(220,220,220,1)",
							data : [10,18,13,27,9,7,6,0,2,5,12,15,4,5,0,0]
						},

					]

				}
				window.onload = function(){
					var ctx = document.getElementById("canvas").getContext("2d");
					window.myBar = new Chart(ctx).Bar(barChartData, {
						responsive : true,
						animation: true,
						scaleFontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",
						scaleFontSize: 10,
						scaleBeginAtZero: true,
						tooltipFontSize: 14,
						
					});
				}

				</script>
		</div>

		<div class="row">
			<div class="col-md-6 stats-de-tiempo">
				<h4>Tiempo para completar reportes</h4>
			</div>

			<div class="col-md-6 stats-de-dano">
				<h4>Distribución de daños</h4>
			</div>
		</div>
	</div>

</div>



{% endblock %}