<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Agregar Reporte</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Agregar tu Reporte</h4>
        </div>
        <div class="modal-body">

          <div class="container">
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label class="control-label col-sm-2" for="email">Correo electrónico:</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="email" placeholder="Enter email">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Tipo de daño:</label>
                <div class="col-sm-10">          
                  <select name="tipo">
                    <option>Hueco</option>
                    <option>Puente</option>
                    <option>Alcantarilla</option>
                 </select>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Región:</label>
                <div class="col-sm-10">          
                  <select name="region">
                    <option>Panamá Oeste</option>
                    <option>Panamá Este</option>
                    <option>San Miguelito</option>
                    <option>Colón</option>
                    <option>Bocas del Toro</option>
                    <option>Chiriquí</option>
                    <option>Veraguas</option>
                    <option>Herrera</option>
                    <option>Los Santos</option>
                    <option>Darién</option>
                    <option>Ngobe Bugle</option>
                 </select>
                </div>
              </div>
              
              <div class="form-group">
                <label class="control-label col-sm-2" for="email">Localización Breve:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2" for="email">Detalles de Ubicación:</label>
                <div class="col-sm-10">
                  <input type="textarea" class="form-control">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-2" for="email">Agregar Foto:</label>
                <div class="col-sm-10">
                  <input type="file" name="file">
                </div>
              </div>
              
              <div class="form-group">        
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">Añadir</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
      
    </div>
  </div>