<!doctype html>

<head>
  <title>Panahuecos</title>
  <meta charset = "utf-8">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/override.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,400,300italic' rel='stylesheet' type='text/css'>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>



<body>

  <div class="navbar navbar-static-top">
      <div class="navbar-inner">
          <h3 class=titulo>Noticias</h3>
      </div>
  </div>
  {% block body %}{% endblock %}
  
</body>
