<!doctype html>

<head>
  {% block head %}
  <title>{% block title %}{% endblock %} - Panahuecos</title>
  <meta charset = "utf-8">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/override.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,400,300italic' rel='stylesheet' type='text/css'>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  {% endblock %}
</head>



<body>

  <div id="content">
    {% block content %}{% endblock %}
  </div>
  
</body>
