<!DOCTYPE html>
<html>
    <head>
        <title>MOPresponde</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <!-- COMMENTS SON PARA CORRER OFFLINE -->
        <!-- <link rel="stylesheet" href="static/navbar.css"> -->
        <script src="static/links/ajaxgoogle"></script>
        <link href='static/links/fontsgoogle' type='text/css'>
        <script src="static/links/maxcdnbootstrap"></script>
        <!--<link rel="stylesheet" href="static/links/jquery-ui" />
        <script src="static/links/jquery191"></script>
        <script src="static/links/jquery1101"></script>-->
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
        <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon" />
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-64398920-1', 'auto');
          ga('send', 'pageview');

        </script>
        <script type="text/javascript" src="static/nuestro.js"></script>
        <link rel="stylesheet" href="static/datepicker.css">
        <link rel="stylesheet" href="static/login.css">
        <link rel="stylesheet" href="static/agregar.css">
        <link rel="stylesheet" href="static/navbar.css">
        <link rel="stylesheet" href="static/noticias.css">
        <link rel="stylesheet" href="static/reportes.css">
        {% block head %}{% endblock %}
    </head>

    <body>
        <div class="navbar navbar-fixed-top" role="navigation"> <!-- navbar default es el problema -->
            <div class="container pull-left">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                       <img src='static/logo.gif' id="logo">
                    </a>  
                </div>
                <div class="navbar-collapse collapse">
                    {% block footer %}{% endblock %}
                </div>
            </div>
            <span class="pull-right" id="iniciar-sesion-container">
                <!-- <a href="#" data-toggle="modal" data-target="#myModal" id="iniciar-sesion">Iniciar Sesión</a> -->
                <a href="/login" id="iniciar-sesion">Iniciar Sesión</a>
            </span>
            {% block content_body %}{% endblock %}
        </div>
        <br><br>
        <div id="content">
        {% block content %}{% endblock %}
        </div>
    </body>
</html>