<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>Panahuecos Noticias</title>
    <link href="bootstrap/css/bootstrap.css" rel="bootstrap">
    <link href="../static/noticias.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,400,300italic'
    rel='stylesheet' type='text/css'>
</head>

<body class="login">
    <h3 class="titulo">Noticias</h3>{% extends "layout.html" %} {% block body
    %}

    <h2 class="ingresar">Empezar Sesión</h2>{% if error %}

    <p class="error"><strong>Error:</strong> {{ error }}{% endif %}</p>

    <form action="{{%20url_for('login')%20}}" method="post">
        <dl>
            <dt>Usuario:</dt>

            <dd><input name="username" type="text"></dd>

            <dt>Contraseña:</dt>

            <dd class="passcode"><input name="password" type="password"></dd>

            <dd><input class="btn" type="submit" value="Ingresar"></dd>
        </dl>
    </form>{% endblock %}
</body>
</html>