{% extends "layout.html" %}
{% block content %}
  <h3 class="titulo">Noticias</h3>
    <div class=metanav>
    {% if not session.logged_in %}
      <a href="{{ url_for('login') }}">Ingresar</a>
    {% else %}
      <a class="cerrar-sesion" href="{{ url_for('logout') }}">Cerrar Sesión</a>
    {% endif %}
    </div>

    <h4 class="ingresar">Empezar Sesión</h4>
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <form  action="{{ url_for('login') }}" method=post>
      <dl>
        <dt>Usuario:
        <dd><input type=text name=username>
        <dt>Contraseña:
        <dd class="passcode"><input type=password name=password>
        <dd><input type=submit value="Ingresar" class="btn">
      </dl>
    </form>
{% endblock %}




