<!DOCTYPE html>

	<html>
		<head>
			<meta charset = "utf-8">
			<title>Panahuecos Noticias</title>
			<link rel = "bootstrap" href="bootstrap/css/bootstrap.css">
			<link rel="stylesheet" href="../static/noticias.css">
			<link href='http://fonts.googleapis.com/css?family=Lato:100,400,300italic' rel='stylesheet' type='text/css'>
		</head>

		<body>
			
		  <nav>
		    <div class="nav-wrapper">
		      <a href="#" class="header">Noticias</a>
		      <ul class="nav-list">
		        <li><a href="">Medios</a></li>
		        <li><a href="">Twitter</a></li>
		        <li><a href="">Radio</a></li>
		      </ul>
		    </div>
		  </nav>

		  <div class="leyenda">
		  	<h5 class="positiva">Noticias Positivas</h5>
		  	<h5 class="neutral">Noticias Neutrales</h5>
		  	<h5 class = "negativa">Noticias Negativas</h5>
		  </div>
			

		</body>

	</html>