{% extends "layout.html" %}
{% block footer %}
<ul class="nav navbar-nav" id="tabs-top-navbar">
	<li class="active"><a href="/">Noticias</a></li>
	<li><a data-toggle="modal" data-target="#en-construccion-modal">Reportes</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="modal fade" id="en-construccion-modal" role="dialog">
       <div class="modal-dialog">    
               <!-- Modal content-->
               <div class="modal-content">
                       <div class="modal-header">
                               <button type="button" class="close" data-dismiss="modal">&times;</button>
                               <h3 class="modal-title">¡Herramienta de reportes está en construcción!</h3>
                       </div>
                       <div class="modal-body">
                               <p>
                                       Pronto podrás reportar daños, enviarlos a las unidades correspondientes del MOP, y seguir el proceso de reparación.
                               </p>
                       </div>
               </div>
       </div>   
</div>
<div class="pull-right" id="leyenda">
    <ul class="nav navbar-nav navbar-right">
		<li style="margin-top:1em; margin-right:1em; color:black;">Fecha:</li>
		<li><span><input type="text" id="fecha" value="{{ fecha_raw }}" size="11" style="margin-top:12px;margin-right:1.5em;"></span></li>
    </ul>
    <br><br>
    <h5 class="positiva">Noticias Positivas</h5>
    <h5 class="neutral">Noticias Neutrales</h5>
    <h5 class ="negativa">Noticias Negativas</h5>
</div>
<br>
<div class="container pull-left" id="news_container">
	<div class="tab-content">
        <div id="noticias" class="tab-pane fade in active">
			{% for new in noticias %}
				<h4 class = "noticia noticia_fecha">{{ fecha_entera.decode('utf-8') }} - {{ new.time }}:</h4>
				<div class = "noticia noticia_text">{{ new.text | safe }}</div>
			{% else %}
				<h4 class = "noticia noticia_nohay">Aún no hay noticias para este día.</h4>
			{% endfor %}	
		</div>
	</div>
</div>
{% endblock %}