{% extends "layout.html" %}
{% block footer %}
<ul class="nav navbar-nav" id="tabs-top-navbar">
	<li><a href="/">Noticias</a></li>
	<li class="active"><a href="/reportes">Reportes</a></li>
</ul>
{% endblock %}

{% block content %} 
<button type="button" class="btn btn-info agregar-reporte pull-right" data-toggle="modal" data-target="#myModal">Agregar<br>Reporte <span class="glyphicon glyphicon-file"></span> </button>
<div class="centered">
	<div class="left-half">
		<div class="container form">
		  <!-- Modal -->
		  <div class="modal fade" id="myModal" role="dialog">
		    <div class="modal-dialog">    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h3 class="modal-title">Agrega tu Reporte</h3>
		        </div>
		        <div class="modal-body">

		          <div class="container">
		            <form class="form-horizontal" role="form" method= "POST" action="/reportes/agregar" enctype="multipart/form-data" id="nuevo-reporte">
		              <div class="form-group">
		                <label class="control-label col-sm-2" for="email">Correo electrónico:</label>
		                <div class="col-sm-4">
		                  <input type="email" class="form-control" id="email" placeholder="ejemplo@hotmail.com" name="email" required>
		                </div>
		              </div>
		              <div class="form-group">
		                <label class="control-label col-sm-2" for="pwd">Tipo de daño:</label>
		                <div class="col-sm-4">          
		                  <select name="problema" required>
		                  	{% for problema in problemas %}
		                    <option>{{problema}}</option>
		                    {% endfor %}
		                 </select>
		                </div>
		              </div>
		              <div class="form-group">
		                <label class="control-label col-sm-2" for="pwd">Región:</label>
		                <div class="col-sm-4">          
		                  <select name="area" required>
		                  	{% for region in regiones %}
		                    <option>{{region}}</option>
		                    {% endfor %}
		                 </select>
		                </div>
		              </div>
		              <div class="form-group">
		                <label class="control-label col-sm-2" for="email">Localización Breve:</label>
		                <div class="col-sm-4">
		                  <input type="text" class="form-control" placeholder="Ejemplo: Calle 50" name="localizacion" maxlength="35" required>
		                </div>
		              </div>
		              <div class="form-group">
		                <label class="control-label col-sm-2" for="email">Detalles:</label>
		                <div class="col-sm-4">
		                  <textarea class="form-control" rows="5" placeholder="Escribir localización detallada" name="details" form="nuevo-reporte" style="resize:none" required></textarea>
		                </div>
		              </div>
		              <div class="form-group">
		                <label class="control-label col-sm-2" for="email">Adjuntar Foto:</label>
		                <label style="margin-top:0.525em">
		                  <input type="file" name="file">
		                </label>
		              </div>
		              <div class="form-group">        
		                <div class="col-sm-offset-2 col-sm-10">
		                  <button type="submit" class="btn btn-info" id="nuevoreporte">Agregar</button>
		                </div>
		              </div>
		            </form>
		          </div>
		        </div>
		      </div>   
		    </div>
		  </div>
		</div>

		<form method= "POST">
			<button type="submit" class="btn btn-info" id="filtro">Filtrar</button>
			<div class="filtros">
				<section class="estado">

					<h4 class="filtro-ind">Estado: <span class="todos">Todos</span></h4>

					{% for estado in estados %}
					<div class="checkbox">
					  <label class="input-checkbox">
					    <input type="checkbox" name="estado" value="{{estado}}" {% if estado in estados_checkiados %} checked {% endif%} {% if estados == estados_checkiados %}checked {% endif %}>
					    {{estado}}
					  </label>
					  <span class="solo">Solo</span>
					</div>
					{% endfor %}
				</section>

				<section class="region">
					<h4 class="filtro-ind">Región: <span class="todos">Todos</span></h4>
					{% for region in regiones %}
					<div class="checkbox">
					  <label class="input-checkbox">
					    <input type="checkbox" name="region" value="{{region}}" {% if region in regiones_checkiadas %} checked{% endif%} {% if regiones == regiones_checkiadas %}checked {% endif %}>
					    {{region}}
					  </label>
					  <span class="solo">Solo</span>
					</div>
					{% endfor %}
				</section>

				<section class="tipo-de-dano">
					<h4 class="filtro-ind problema">Daño: <span class="todos">Todos</span></h4>
					{% for problema in problemas %}      
					<div class="checkbox">
					  <label class="input-checkbox">
					    <input type="checkbox" name="problema" value="{{problema}}" {% if problema in problemas_checkiados %} checked{% endif%} {% if problemas == problemas_checkiados %}checked {% endif %}>
					    {{problema}}
					  </label>
					  <span class="solo">Solo</span>
					</div>
					{% endfor %}
				</section>
			</div>
		</form>
	</div>

	<div class="right-half entries col-md-6">
		{% for reporte in reportes %}
		<div class="reportes-overall">
			<div class="like pull-right">
				<a href="#" onclick="stop(event)" class="btn btn-info btn-lg like"><div class="glyphicon glyphicon-thumbs-up"></div> </a>
				<h7 class="cantidad-likes">{{reporte.likes}} likes</h7>
			</div>

			<div class="reporte" data-toggle="collapse" href="#collapse_{{reporte.id}}" aria-controls="collapse_{{reporte.id}}" id="accordion" role="tablist">
				
				<div class="reporte-peque" role="tab" >
					<span class="tipo-de-reporte">{{reporte.problema}}</span><span class = "titulo-de-reporte"> - {{reporte.localizacion_breve}}</span>
					<div class = "date"><b>{{reporte.state}}</b> {{reporte.date|datetime}}</div>	
				</div>
				<div id="collapse_{{reporte.id}}" class="detalles panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					<div class="grupito">
						{% if reporte.image %}
						<div class="col-sm-6 detalles-ubic">
					      		{{reporte.details}}
						</div>
				      	<div class="col-sm-4 imagen-up">
						      <img class="imagen" src="/images/{{reporte.id}}.jpg">
				      	</div>
				      	{% else %}
						<div class="detalles-ubic-sin-img">
					      	{{reporte.details}}
						</div>
				      	{% endif %}
				    </div>
			      	<div class="datos">
						<button data-toggle="modal" data-target="#myModal{{reporte.id}}" class="editar" >Editar <div class="glyphicon glyphicon-pencil"></div> </button>
						<div class="date">Creado {{reporte.date|datetime}}</div>
		      		</div>
		      	</div>
			      	
			</div>
		</div>

		    <div class="modal fade" id="myModal{{reporte.id}}" role="dialog">
			    		<div class="modal-dialog">
			    
			      <!-- Modal content-->
			      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			          <h3 class="modal-title">Edita tu Reporte</h3>
			        </div>
			        <div class="modal-body">

			          <div class="container">
			            <form class="form-horizontal" role="form" method= "POST" action="/reportes/cambiar" enctype="multipart/form-data" id="cambiar{{reporte.id}}">

			              <div class="form-group">
			                <label class="control-label col-sm-2" for="pwd">Estado:</label>
			                <div class="col-sm-4">          
			                  <select name="estado" required>
			                  	{% for estado in estados %}
			                    <option {% if reporte.state==estado %} selected {% endif %}>{{estado}}</option>
			                    {% endfor %}
			                 </select>
			                </div>
			              </div>	
			              <div class="form-group">
			                <label class="control-label col-sm-2" for="pwd">Tipo de daño:</label>
			                <div class="col-sm-4">          
			                  <select name="problema" required>
			                  	{% for problema in problemas %}
			                    <option {% if reporte.problema==problema %} selected {% endif %}>{{problema}}</option>
			                    {% endfor %}
			                 </select>
			                </div>
			              </div>

			              <div class="form-group">
			                <label class="control-label col-sm-2" for="pwd">Región:</label>
			                <div class="col-sm-4">          
			                  <select name="area" required>
			                  	{% for region in regiones %}
			                    <option {% if reporte.area==region %} selected {% endif %}>{{region}}</option>
			                    {% endfor %}
			                 </select>
			                </div>
			              </div>
			              
			              <div class="form-group">
			                <label class="control-label col-sm-2" for="email">Localización Breve:</label>
			                <div class="col-sm-4">
			                  <input type="text" class="form-control" placeholder="Ejemplo: Calle 50" name="localizacion" value="{{reporte.localizacion_breve}}" required>
			                </div>
			              </div>

			              <div class="form-group">
		                <label class="control-label col-sm-2" for="email">Detalles:</label>
		                <div class="col-sm-4">
		                  <textarea class="form-control" rows="5" placeholder="Escribir localización detallada" name="details" form="cambiar{{reporte.id}}" style="resize:none" required>{{reporte.details}}</textarea>
		                </div>
		              </div>

			              <div class="form-group">
			                <label class="control-label col-sm-2" for="email">Adjuntar Foto:</label>
			                <div class="col-sm-4">
			                  <input type="file" name="file">
			                </div>
			              </div>
			              <input type="hidden" name="id" value="{{reporte.id}}">
			              <div class="form-group">        
			                <div class="col-sm-offset-2 col-sm-10">
			                  <button type="submit" class="btn btn-info" id="cambiar">Editar</button>
			                </div>
			              </div>
			            </form>
			          </div>
			        </div>
			      </div>
			      
			    </div>
			  </div>
		{% else %}
		<br>
		<h4 style="margin-left:8em">No hay reportes con estas especificaciones.</h4>				
		{% endfor %}
	</div>
</div>
{% endblock %}