{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/trial.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endblock %}

{% block footer %}
<li><a href="/">Noticias</a></li>
<li class="active"><a href="/reportes">Reportes</a></li>
{% endblock %}

{% block content %}
<body>
	<div class="container-fluid">
	<div class="row">

		<div class="col-md-3">
			<div class="container form">
			  <!-- Trigger the modal with a button -->
			  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Agregar Reporte</button>

			  <!-- Modal -->
			  <div class="modal fade" id="myModal" role="dialog">
			    <div class="modal-dialog">
			    
			      <!-- Modal content-->
			      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			          <h3 class="modal-title">Agrega tu Reporte</h3>
			        </div>
			        <div class="modal-body">

			          <div class="container">
			            <form class="form-horizontal" role="form">
			              <div class="form-group">
			                <label class="control-label col-sm-2" for="email">Correo electrónico:</label>
			                <div class="col-sm-4">
			                  <input type="email" class="form-control" id="email" placeholder="ejemplo@hotmail.com" name="email">
			                </div>
			              </div>
			              <div class="form-group">
			                <label class="control-label col-sm-2" for="pwd">Tipo de daño:</label>
			                <div class="col-sm-4">          
			                  <select name="problema">
			                    <option>Hueco</option>
			                    <option>Puente</option>
			                    <option>Alcantarilla</option>
			                 </select>
			                </div>
			              </div>

			              <div class="form-group">
			                <label class="control-label col-sm-2" for="pwd">Región:</label>
			                <div class="col-sm-4">          
			                  <select name="area">
			                    <option>Panamá Oeste</option>
			                    <option>Panamá Este</option>
			                    <option>San Miguelito</option>
			                    <option>Colón</option>
			                    <option>Bocas del Toro</option>
			                    <option>Chiriquí</option>
			                    <option>Veraguas</option>
			                    <option>Herrera</option>
			                    <option>Los Santos</option>
			                    <option>Darién</option>
			                    <option>Ngobe Bugle</option>
			                 </select>
			                </div>
			              </div>
			              
			              <div class="form-group">
			                <label class="control-label col-sm-2" for="email">Localización Breve:</label>
			                <div class="col-sm-4">
			                  <input type="text" class="form-control" placeholder="Ejemplo: Calle 50" name="localizacion">
			                </div>
			              </div>

			              <div class="form-group">
			                <label class="control-label col-sm-2" for="email">Detalles:</label>
			                <div class="col-sm-4">
			                  <input type="textarea" class="form-control" rows="10" placeholder="Escribir localización detallada" name="details">
			                </div>
			              </div>

			              <div class="form-group">
			                <label class="control-label col-sm-2" for="email">Adjuntar Foto:</label>
			                <div class="col-sm-4">
			                  <input type="file" name="file">
			                </div>
			              </div>
			              
			              <div class="form-group">        
			                <div class="col-sm-offset-2 col-sm-10">
			                  <button type="submit" class="btn btn-default">Agregar</button>
			                </div>
			              </div>

			            </form>
			          </div>
			        </div>
			      </div>
			      
			    </div>
			  </div>
			</div>
			
			<div class="filtros">
				<section class="estado">
					<h4>Estado:</h4>
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    Completo
					  </label>
					</div>
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="" disabled>
					     En proceso
					  </label>
					</div>
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    En inspección
					  </label>
					</div>
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="" disabled>
					     Vencido
					  </label>
					</div>
				</section>

				<section class="region">
					<h4>Región:</h4>
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    Panamá Oeste
					  </label>
					</div>
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="" disabled>
					     Panamá Este
					  </label>
					</div>
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    San Miguelito
					  </label>
					</div>
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="" disabled>
					     Colón
					  </label>
					</div>
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    Bocas del Toro
					  </label>
					</div>
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="" disabled>
					     Chiriquí
					  </label>
					</div>
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    Veraguas
					  </label>
					</div>
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="" disabled>
					     Coclé
					  </label>
					</div>
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    Herrera
					  </label>
					</div>
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="" disabled>
					     Los Santos
					  </label>
					</div>
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    Darién
					  </label>
					</div>
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="" disabled>
					     Ngobe Bugle
					  </label>
					</div>
				</section>

				<section class="tipo-de-dano">
					<h4>Tipo de daño:</h4>
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    Cajones Pluviales
					  </label>
					</div>
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="" disabled>
					     Limpieza
					  </label>
					</div>
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    Mantenimiento de Camino
					  </label>
					</div>
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="" disabled>
					     Mantenimiento de Puente
					  </label>
					</div>
					<div class="checkbox">
					  <label>
					    <input type="checkbox" value="">
					    Otras Obras
					  </label>
					</div>
				</section>
			</div>
		</div>

		<div class="col-md-6">
				<h3 class = "titulo-de-reporte">titulo de reporte</h3>
				<h4 class = "estado">estado de reporte</h4>
				<div class="panel panel-default">
			      	<h5 class="panel-title">
			        	<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			          Ver más
			        	</a>
			      	</h5>
			      	<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne"></div>
			      	<div class="panel-body">
			      		texto de reporte
			      	</div>
			    </div>
		  
				<div class="datos">
					<h6>fecha y likes de reportes</h6>
				</div>
		</div>
		
		<div class="col-md-3">
		</div>

	</div>
	</div>
</body>
{% endblock %}

</html>

